commands:
    01-node-install:
        cwd: /tmp
        command: "curl --silent --location https://rpm.nodesource.com/setup_8.x | bash -"
    02-node-install:
        cwd: /tmp
        command: "yum -y install nodejs"
    03-update-npm:
        cwd: /tmp
        command: "sudo npm install npm -g"

container_commands:
    01-npm-install:
        command: "sudo npm install"
        cwd: "/var/app/ondeck"
    02-npm-run:
        command: "sudo npm run production"
        cwd: "/var/app/ondeck"
